@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #222;
  line-height: 1.6;
  background: white;
}

* {
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
}
